In [ ]:
from __future__ import absolute_import, division, print_function, unicode_literals
import pathlib

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
print(tf.__version__)

In [ ]:
#import numpy as np
#import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns

In [ ]:
dataPath = keras.utils.get_file("auto-mpg.data", "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data")
dataPath

In [ ]:
columnNames = ['mpg', 'cylinders', 'displacement', 'hp', 'weight', 'acceleration', 'model year', 'origin']
rawData = pd.read_csv('/home/bmrs/.keras/datasets/auto-mpg.data', names= columnNames, na_values="?", comment='\t', sep=" ", skipinitialspace=True)
rawData.head(10)

In [ ]:
dataset = rawData.copy()
dataset.tail()

In [ ]:
dataset.isna().sum()

In [ ]:
dataset = dataset.dropna() # removes 6 records containg NA value of attribute 'hp'

..alternate

**we could repalce NA with mean/median values as well**

In [ ]:
dataset2 = rawData.copy()
dataset2.isna().sum()

values = {'hp': '104.469388'} #mean for column hp = 104.469388
dataset2 = dataset2.fillna(value = values)

dataset2.isna().sum()

..contd

In [ ]:
dataset.tail()

the 'Origin' attribute is actually categorical not numerical so we change it to different attributes containing bool values. like USA = 1/0 , Japan = 1/0

In [ ]:
origin = dataset.pop('origin')

In [ ]:
dataset['usa'] = (origin == 1) * 1.0
dataset['europe'] = (origin == 2) * 1.0
dataset['japan'] = (origin == 3) * 1.0

#dataset.head(10)

**Creating training data set and testing data set**

In [84]:
train_data = dataset.sample(frac = 0.8, random_state = 1 )

test_data = dataset.drop(train_data.index)
# print(test_data)
# train_data.iloc[0:5] integer based indexing
# train_data.iat[0, 1] particular value is extracted
len(train_data.keys())

10

In [ ]:
sns.pairplot(train_data[['mpg', 'cylinders', 'displacement', 'weight']], diag_kind = 'kde')

In [85]:
train_stats = train_data.describe()
train_stats
# test_stats = test_data.describe()

,mpg,cylinders,displacement,hp,weight,acceleration,model year,usa,europe,japan
count,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000
mean,23.532166,5.490446,195.472930,104.108280,2972.388535,15.509236,76.012739,0.630573,0.178344,0.191083
std,7.951761,1.703662,105.269835,38.153395,844.377092,2.797765,3.678775,0.483420,0.383413,0.393782
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,0.000000,0.000000,0.000000
25%,17.500000,4.000000,105.000000,75.250000,2223.750000,13.500000,73.000000,0.000000,0.000000,0.000000
50%,22.200000,4.000000,151.000000,95.000000,2818.500000,15.500000,76.000000,1.000000,0.000000,0.000000
75%,29.000000,8.000000,265.750000,125.000000,3608.000000,17.000000,79.000000,1.000000,0.000000,0.000000
max,46.600000,8.000000,455.000000,225.000000,4997.000000,24.600000,82.000000,1.000000,1.000000,1.000000

In [74]:
# train_stats.pop('mpg')
train_stats

,mpg,cylinders,displacement,hp,weight,acceleration,model year,usa,europe,japan
count,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000
mean,23.532166,5.490446,195.472930,104.108280,2972.388535,15.509236,76.012739,0.630573,0.178344,0.191083
std,7.951761,1.703662,105.269835,38.153395,844.377092,2.797765,3.678775,0.483420,0.383413,0.393782
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,0.000000,0.000000,0.000000
25%,17.500000,4.000000,105.000000,75.250000,2223.750000,13.500000,73.000000,0.000000,0.000000,0.000000
50%,22.200000,4.000000,151.000000,95.000000,2818.500000,15.500000,76.000000,1.000000,0.000000,0.000000
75%,29.000000,8.000000,265.750000,125.000000,3608.000000,17.000000,79.000000,1.000000,0.000000,0.000000
max,46.600000,8.000000,455.000000,225.000000,4997.000000,24.600000,82.000000,1.000000,1.000000,1.000000

In [86]:
train_stats = train_stats.transpose()
train_stats

,count,mean,std,min,25%,50%,75%,max
mpg,314.0,23.532166,7.951761,9.0,17.50,22.2,29.00,46.6
cylinders,314.0,5.490446,1.703662,3.0,4.00,4.0,8.00,8.0
displacement,314.0,195.472930,105.269835,68.0,105.00,151.0,265.75,455.0
hp,314.0,104.108280,38.153395,46.0,75.25,95.0,125.00,225.0
weight,314.0,2972.388535,844.377092,1613.0,2223.75,2818.5,3608.00,4997.0
acceleration,314.0,15.509236,2.797765,8.0,13.50,15.5,17.00,24.6
model year,314.0,76.012739,3.678775,70.0,73.00,76.0,79.00,82.0
usa,314.0,0.630573,0.483420,0.0,0.00,1.0,1.00,1.0
europe,314.0,0.178344,0.383413,0.0,0.00,0.0,0.00,1.0
japan,314.0,0.191083,0.393782,0.0,0.00,0.0,0.00,1.0

In [55]:
# train_stats.keys()

Index(['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'], dtype='object')

**separate labels from features**

In [81]:
# train_labels = train_data.pop('mpg')

In [82]:
# test_labels = test_data.pop('mpg')

**Data Normalization**

In [87]:
def norm(x):
    return ((x-train_stats['mean'])/ train_stats['std'])
normTrainData = norm(train_data)
normTestData = norm(test_data)
normTestData.head()
normTrainData.head(6)

,mpg,cylinders,displacement,hp,weight,acceleration,model year,usa,europe,japan
82,-0.066924,-0.874848,-0.716947,-0.186308,-0.552346,-0.360729,-1.090781,-1.304400,-0.465148,2.054228
167,0.687626,-0.874848,-0.935434,-0.762928,-0.949088,0.175413,-0.275292,-1.304400,-0.465148,2.054228
356,1.115204,-0.874848,-0.830940,-0.762928,-0.737098,0.461356,1.355685,-1.304400,-0.465148,2.054228
120,-0.569958,-0.874848,-0.707448,0.206842,-0.123628,-0.003301,-0.818952,-1.304400,2.143005,-0.485251
385,1.819450,-0.874848,-0.992430,-0.972608,-1.157526,0.246899,1.627515,-1.304400,-0.465148,2.054228
238,1.253538,-0.874848,-0.925934,-0.553248,-1.062782,0.139670,0.268367,0.764194,-0.465148,-0.485251

In [88]:
len(train_data.keys())

10

In [89]:
def buildModel():
    model = keras.Sequential([
        layers.Dense(64, activation= 'relu', input_shape = [ len(train_data.keys())]),
        layers.Dense(64, activation= 'relu'),
        layers.Dense(1)
    ])
    rmsProp = tf.keras.optimizers.RMSprop(0.001)
    model.compile(loss='mse', optimizer = rmsProp, metrics = ['mae', 'mse']) # we may aslo use default RMSProp as optimizer='rms'
    return model

In [90]:
model = buildModel()

In [92]:
modelSum = model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 64)                704
_________________________________________________________________
dense_13 (Dense)             (None, 64)                4160
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 65
=================================================================
Total params: 4,929
Trainable params: 4,929
Non-trainable params: 0
_________________________________________________________________

**Time to choose Batch_size** and predict on the trained model

In [93]:
exampleBatch = normTrainData[:10]
# exampleBatch
exampleResult = model.predict(exampleBatch)
exampleResult

array([[-0.22457947],
       [-0.08622817],
       [ 0.12475353],
       [-0.1338345 ],
       [ 0.28355268],
       [ 0.37196553],
       [-0.26443484],
       [-0.00097866],
       [-0.2538276 ],
       [ 0.07133391]], dtype=float32)

**Training the model** for epoch: 1000 and ***recording the training and validation accuracy***

In [ ]:
class PrintDot(keras.callbacks.Callback):
    def on_epoch_end(self, epoch, lo)